/* カレンダー */
table.calender{
	border-collapse:collapse;
}
table.calender td{
	border:1px #dddddd solid;
	width:5rem;
	height:4rem;
	vertical-align:top;
	padding:0;
}
table.calender td div.date{
	background-color:#eeeeee;
	text-align:center;
}
table.calender td.Sunday div.date{
	background-color:#ffdddd;
}
table.calender td.Saturday div.date{
	background-color:#ddeeff;
}
table.calender td.past{
	background-color:#dddddd;
}
table.calender td.today div.date{
	font-weight:bold;
}
/* sccon */
.scheduler-container{
	/* dirty prefix */
	display:-webkit-box;
	display:-moz-box;
	display:box;
}
/* cloth */
.cloth-container{
	/* dirty prefix */
	display:-webkit-box;
	display:-moz-box;
	display:box;
}
/* cloth design select */
.clothselect-container{
	/* dirty */
	display:-webkit-box;
	display:-moz-box;
	display:box;
}
.clothselect-typeselect{
	max-height:200px;
	overflow-y:scroll;
}
.clothselect-typebox{
	border:3px double #aaaaaa;
	width:32px;
	height:32px;
}
/* scheduler */
.schedulerbox{
	border:3px double #999999;
	width:12rem;
	padding:0.3ex;
	margin:0.2ex;
}
.schedulerbox.selection{
	cursor:pointer;
}
.schedulerbox.selection:hover{
	background-color:#eeeeee;
}
/* clotghgroup */
.clothgroupbox{
	border:3px double #999999;
	width:12rem;
	padding:0.3ex;
	margin:0.2ex;
}
.clothgroupbox.selection{
	cursor:pointer;
}
.clothgroupbox.selection:hover{
	background-color:#eeeeee;
}
/* clothbox */
.clothbox{
	border:3px double #999999;
	display:inline-block;
	padding:0.3ex;
	margin:0.2ex;
}
.clothbox.selection{
	cursor:pointer;
}
.clothbox.selection:hover{
	background-color:#eeeeee;
}
/* UIs */
.selection{
	position:relative;
	left:0;
	top:0;
}
.selection button.deletebutton{
	background-color:#f9f9f9;
	color:#ff3333;
	position:absolute;
	right:0.1ex;
	bottom:0.1ex;
}
button {
	outline:none;
	border:1px solid #aaaaaa;
	background-color:#eeeeee;
}
button.iconbutton{
	padding:0;
}
button svg{
	padding:0;
	vertical-align:middle;
}
button:focus {
	box-shadow:0 0 4px 3px #cccccc;
}
button:active{
	background-color:#dddddd !important;
}
